@use "sass:math";
@import 'src/styles/shared.scss';

.leverChoose {
    margin: 0 20px;

    &-title {
        color: $gray-info-text-color;
        font-size: $T2;
        text-align: left;
        height: 20px;
    }

    &-choose {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        li {
            width: 66px;
            height: 44px;
            border-radius: 22px;
            box-shadow: $shadow-inside;
            text-align: center;
            line-height: 44px;
            font-size: 20px;
            color: black;
            font-family: $boldFont;

            &.selected {
                color: $main-button-color;
                border: 2px solid $main-button-color;

                &:hover {
                    border: 2px solid $main-button-color;
                }
            }

            &:hover {
                border: 1px solid $gray-line-color;
                cursor: pointer;
            }
        }
    }
}