@use "sass:math";
@import 'src/styles/shared.scss';

.leverReview,
.optionsReview {

    &-mainCard {
        width: $baseWidth;
        margin: 22px auto;
        padding: 40px 44px;

        &-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            div {
                width: 20px;
                height: 20px;
            }
        }

        &-fortNot {
            color: $wrongAndNotice-color;
            font-size: $T4;
            margin-top: 20px;
        }

        .reviewInfo {
            margin-top: 20px;
        }

        &-details {
            margin-top: 20px;

            &-title {
                color: $gray-info-text-color;
                font-size: $T2;
            }

            &-infoCard {
                padding: 20px;
                margin-top: 10px;
                background-color: $gray-info-background-color;
                border: 1px solid $gray-background-color;
                border-radius: 20px;

                .lineShowInfo+.lineShowInfo {
                    margin-top: 10px;
                }
            }
        }

        &>.lineShowInfo {
            margin-top: 20px;
        }

        .fort-button {
            width: 100%;
            font-size: $T2;
            margin-top: 35px;
        }

    }
}