@use "sass:math";
@import 'src/styles/shared.scss';

.winPendingItem {
    display: flex;
    justify-content: space-between;
    height: 51px;
    width: 143px;

    &-left {
        width: 80px;
        height: 51px;
        display: flex;

        .fort-button {
            width: 80px;
            height: 28px;
            padding: 0;
            margin: auto 0;
        }
    }

    &-right {
        width: 34px;
        height: 51px;
        display: flex;

        span {
            display: flex;

            .pendingClock {
                margin: auto 0;
            }
        }
    }
}