@use "sass:math";
@import 'src/styles/shared.scss';

.lineShowInfo {
    display: flex;
    justify-content: space-between;
    height: 20px;

    &-leftText {
        justify-self: flex-start;
        margin-left: 0;
        font-size: $T2;
        line-height: 20px;
        color: $gray-info-text-color;

        button {
            height: 20px;
            width: 20px;
            margin-left: 10px;
            padding-top:3px;

            svg {
                margin: auto 0;
            }
        }
    }

    &-rightText {
        justify-self: flex-end;
        margin-right: 0;
        font-size: $T2;
        font-family: $boldFont;
        text-align: right;
        line-height: 20px;
    }

    &-content {
        width:150px;
    }
}