@use "sass:math";
@import 'src/styles/shared.scss';

@mixin normal-text {
    color: $gray-info-text-color;
    font-size: $T2;
}

.options-mintOptions {
    margin: 0 auto;
    margin-bottom: 44px;
    display: flex;
    justify-content: center;
    
    .mainCard {
        width: $baseWidth;
        padding: 40px 44px;
    }

    &-leftCard{
        margin-right: 22px;

        .infoView + .infoView, .chooseType + .infoView {
            margin-top: 20px;
        }
    }

    &-rightCard {
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &-tokenTitle {
            @include normal-text;
        }

        &-tokenValue {
            font-family: HeptaSlabMedium;
            font-size: 48px;
            color: $main-button-color;
        }

        &-tokenName {
            @include normal-text;
        }

        &-timeTitle {
            @include normal-text;
        }

        &-timeValue {
            margin-top: 1px;
            @include normal-text;
        }

        &-smallCard {
            display: flex;
            justify-content: space-between;

            .mainCard {
                margin-right: 44px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 44px 0;
            }

            .mainCard + .mainCard {
                margin-right: 0;
            }

            &-title{
                p {
                    color: $gray-info-text-color;
                    font-size: $T3;
                }
            }

            &-value {
                font-family: MontserratBold;
                font-size: $T2;
                margin: 15px 0;
            }

            &-name {
                color: $gray-info-text-color;
                font-size: $T3;
            }
        }
    }
}