@use "sass:math";
@import 'src/styles/shared.scss';

.baseModal {
    
    & > .mainCard {
        padding: 20px 20px;
    }

    &-top {
        display: flex;
        justify-content: space-between;
        height: 40px;

        &-title {
            font-size: $T1;
            font-family: $boldFont;
            text-align: center;
            line-height: 40px;
        }

        &-rightButton {
            padding: 10px 10px;
        }

        button {
            width: 40px;
            height: 40px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}