@use "sass:math";
@import 'src/styles/shared.scss';

.modal-transaction {
    width: $baseWidth;
    text-align: center;

    &>svg {
        margin: 0 auto;
    }

    &-text {
        margin-top: 20px;
        font-family: $boldFont;
        font-size: $T1;

        &-error {
            margin-top: 10px;
            font-size: 8px;
            word-break:break-all;
            color: $gray-info-text-color;
        }
    }

    &>a {
        color: $main-button-color;
        font-size: $T4;
        margin-top: 12px;
    }
}

@media screen and (max-width: 1000px) {
    .modal-transaction {
        width: 100%;
    }
}