@use "sass:math";
@import 'src/styles/shared.scss';

.modal-transaction {
    width: $baseWidth;
    text-align: center;

    &>svg {
        margin: 0 auto;
    }

    &-text {
        margin-top: 20px;
        font-family: $boldFont;
        font-size: $T1;
    }

    &>a {
        color: $main-button-color;
        font-size: $T4;
        margin-top: 12px;
    }

    .mainCard-eurModal {
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 20px;
        background-color: $gray-info-background-color;
        box-shadow: none;

        &>.lineShowInfo {
            font-size: $T4;
        }

        &-lastAddress {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            .lineShowInfo {
                width: 100%;
                margin-right: 10px;

                &-rightText {
                    color: $main-button-color;
                }
            }
        }
    }
}