@use "sass:math";
@import 'src/styles/shared.scss';

footer {
    margin-top: 20px;
}

.footer-mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    
    a {
        margin: auto 0;
    }
}