@use "sass:math";
@import 'src/styles/shared.scss';

footer {
    $footerHeight: 66px;
    $iconSize: 28px;
    $iconMargin: math.div($footerHeight - $iconSize, 2);
    $footerWidth: 100%;
    width: $footerWidth;
    height: $footerHeight;
    background-color: $main-background-color;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $gray-background-color;

    .footer-left {
        height: $footerHeight;
        width: 50%;

        &-english {
            width: $iconSize;
            height: $iconSize;
            margin: $iconMargin 0 (-$iconMargin) 40px;
        }

        &-chinese {
            width: $iconSize;
            height: $iconSize;
            margin: $iconMargin 0 (-$iconMargin) 12px;
        }
    }

    .footer-right {
        height: $footerHeight;
        width: 50%;
        display: flex;
        justify-content: flex-end;

        &-mi {
            width: $iconSize;
            height: $iconSize;
            margin: $iconMargin 40px (-$iconMargin) 0;
        }

        &-github {
            width: $iconSize;
            height: $iconSize;
            margin: $iconMargin 12px (-$iconMargin) 0;
        }

        &-twitter {
            width: $iconSize;
            height: $iconSize;
            margin: $iconMargin 12px (-$iconMargin) 0;
        }

        &-tel {
            width: $iconSize;
            height: $iconSize;
            margin: $iconMargin 12px (-$iconMargin) 0;
        }
    }
}