@use "sass:math";
@import '../../../../styles/shared.scss';

.disable {
    background-image: none;
    background-color: $C4-color;
    color: $C2-color;
    font-weight: normal;
}

.fortButton-normal {
    background-image: $main-background;
    font-size: $T2;
    font-weight: bold;
    border: 0;
}

.fortButton-connect {
    @extend .fortButton-normal;
    width: 176px;
    height: $baseHeight;
    border-radius: math.div($baseHeight, 2);
    justify-self: flex-end;
    margin-right: 40px;
}

.fortButton-select {
    @extend .fortButton-normal;
    width: 80px;
    height: 32px;
    border-radius: 16px;

    &.noSelect {
        background-image: none;
        background-color: $C1-color;
        color: $C4-color;
    }
}

.fortButton-different0 {
    @extend .fortButton-normal;
    position: relative;
    margin: 12px 44px 36px 44px;
    width: $baseWidth - 88px;
    height: $baseHeight;
    border-radius: math.div($baseHeight, 2);
}

.fortButton-different1 {
    @extend .fortButton-normal;
    position: relative;
    background-image: $button-color1;
    margin: 36px 44px 0 44px;
    width: $baseWidth - 88px;
    height: $baseHeight;
    border-radius: math.div($baseHeight, 2);
}

.fortButton-different2 {
    @extend .fortButton-normal;
    position: relative;
    background-image: $button-color2;
    margin: 20px 44px 0 44px;
    width: $baseWidth - 88px;
    height: $baseHeight;
    border-radius: math.div($baseHeight, 2);
}

.fortButton-over {
    @extend .fortButton-normal;
    position: relative;
    width: 64px;
    height: 28px;
    border-radius: 14px;
    font-size: $T1;

    &.disable {
        @extend .disable;
    }
}

.fortButton-mining {
    @extend .fortButton-normal;
    position: relative;
    width: 232px;
    height: 44px;
    border-radius: 22px;
    font-size: $T1;

    &.disable {
        @extend .disable;
    }
}

.fortButton-second {
    background: $C5-color;
    position: relative;
    width: 64px;
    height: 28px;
    border-radius: 14px;
    border: 1.5px $C8-color solid;
    font-size: $T1;
    font-weight: bold;
    color: $C6-color;
}