@use "sass:math";
@import 'src/styles/shared.scss';

.reviewInfo {

    &-title {
        color: $gray-info-text-color;
        font-size: $T2;
    }

    &-info {
        margin-top: 10px;

        &-value {
            font-family: $boldFont;
            font-size: 24px;
            color: black;

            span {
                margin-left: 10px;
                font-size: $T2;
            }
        }
    }
}