@use "sass:math";
@import 'src/styles/shared.scss';

.winChoice {
    width: 110px;
    height: 110px;
    background: white;
    border: 1px solid $gray-background-color;
    border-radius: 50%;
    box-shadow: $shadow;
    overflow:hidden;

    &-topNum {
        margin-top: 40px;
        margin-bottom: 6px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-family: MontserratBold;
        font-size: $T2;
    }

    &-bottomBg {
        height: 30%;
        text-align: center;
        line-height: 34px;
        background-color: #DDEDF2;

        &-num {
            text-align: center;
            line-height: 34px;
            font-size: $T4;
        }
    }
}

.winChoice-selected {
    background-color: $main-button-color;

    .winChoice-topNum {
        color: $main-background-color;
    }
}