@use 'sass:math';
@import '../../../styles/shared.scss';

.option {
    position: relative;
    width: 100%;
    background-color: $C0-color;

    .option-top {
        @extend .cardMain;
        padding-top: 36px;
        padding-bottom: 26px;

        .option-title {
            position: relative;
            text-align: center;
            height: 24px;
            line-height: 24px;
            color: $C6-color;
            font-size: $T3;
            font-weight: bold;
        }

        .optionChoice {
            margin: 20px 88px 16px 88px;
        }
        
    }

    .option-bottom {
        @extend .cardMain;
        
        hr {
            @extend .hrStyle;
            margin: 0 44px 0 44px;
        }

        .option-fortValue {
            margin: 36px 88px 0 88px;
            display: flex;
        
            .option-fortValue-title {
                width: 50%;
                justify-self: start;
                font-size: $T3;
                color: $C2-color;
            }

            .option-fortValue-value {
                width: 50%;
                
                .option-fortValue-value-value {
                    display: flex;
                    justify-content: flex-end;
                    align-items:flex-end;

                    p {
                        color: $C2-color;
                        font-size: $T3;
                        font-weight: bold;
                        
                    }

                    p + p {
                        height: 16px;
                        color: $C2-color;
                        font-size: $T1;
                        font-weight:normal;
                        margin-left: 10px;
                    }
                }

                .option-fortValue-value-balance {
                    margin-top: 14px;
                    text-align: right;
                    font-size: $T1;
                    background: $button-color1;
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                }
            }
        }
    }

    .option-had {
        width: 100%;
        height: $baseHeight;
        position: relative;
        margin-top: 20px;
        display: flex;
        justify-content: center;

        hr {
            @extend .hrStyle;
            margin-top: 22px;
            width: 100%;
            position: absolute;
        }

        .option-had-title {
            height: $baseHeight;
            border-radius: 22px;
            background-color: $C5-color;
            display: flex;
            justify-content: space-between;
            z-index: 11;

            p {
                color: $C6-color;
                font-size: $T2;
                line-height: 44px;
                margin: 0 10px 0 20px;
            }
            
            svg {
                margin: 11px 20px 0 0;
            }
        }
    }

    .option-list {
        width: 100%;
        padding-top: 20px;

        ul {
            width: 1286px;
            margin: 0 auto;
            align-content: center;

            li.option-list-add {
                width: 1286px;
                height: $baseHeight;
                display: flex;
                justify-content: flex-end;
                background-color: $c10-color;
                border-radius: math.div($baseHeight, 2);

                p {
                    height: $baseHeight;
                    line-height: $baseHeight;
                    color: $C6-color;
                    font-size: $T1;
                }

                button {
                    border: 0;
                    color: $C8-color;
                    background-color: transparent;
                    margin: 0 44px 0 3px;
                    font-size: $T1;
                }
            }
        }

        ul li {
            margin-top: 8px;
        }
    }
}