@use "sass:math";
@import 'src/styles/shared.scss';

.notice-card {
    width: 400px;
    padding-bottom: 20px;
    
    &-title {
        font-family: $boldFont;
        font-size: $T2;
        margin: 20px auto;
        text-align: center;
    }

    ul {
        margin: 0 20px;
        height: 350px;
        overflow:auto;
        font-size: $T3;
        color: $gray-info-text-color;

        input {
            display: none;
        }

        li + li {
            margin-top: 10px;
        }
    }
}