@use "sass:math";
@import 'src/styles/shared.scss';

.header-nav {
    position: relative;
    width: 100%;
    background-color: $main-background-color;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray-background-color;

    a {
        margin-top: 6px;
        width: 360px;

        .header-logo {
            position: relative;
            margin-left: 40px;
            justify-self: flex-start;
        }
    }


    ul {
        height: 70px;
        width: 570px;
        list-style: none;
        justify-self: center;
        justify-content: space-between;
        display: flex;
        color: $main-background-color;
        font-size: $T2;

        li {
            text-align: center;
            line-height: 66px;
            width: math.div($baseWidth - 30, 3);
            color: $black-text-color;

            &.selected {
                border-bottom: 2px solid $main-button-color;
                box-sizing: border-box;

                a {
                    color: $main-button-color;
                    font-family: $boldFont;
                    font-weight: bold;
                }
            }
        }
    }

    .connectStatus {
        width: 330px;
        margin-right: 40px;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        justify-self: flex-end;
        justify-content: flex-end;
    }
}
