@import 'shared.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: Montserrat;
    src: url('./Montserrat-Medium.ttf');
}

@font-face {
    font-family: MontserratBold;
    src: url('./Montserrat-Bold.ttf');
}

@font-face {
    font-family: HeptaSlabMedium;
    src: url('./HeptaSlab-Medium.ttf');
}

html,
body {
    font-family: Montserrat, MontserratBold, OPPOSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

#root {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

button {
    font-family: Montserrat, MontserratBold, OPPOSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;
    border: 0px;
    background-color: transparent;
}

input {
    background-color: transparent;
}

input::-webkit-input-placeholder {
    font-family: Montserrat;
    color: $button-disable-color;
    font-size: $T2;
    font-weight: normal;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: Montserrat;
    color: $button-disable-color;
    font-size: $T2;
    font-weight: normal;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: Montserrat;
    color: $button-disable-color;
    font-size: $T2;
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.animation-spin {
    animation: spin 1s linear infinite;

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

.ant-tooltip-inner {
    color: $gray-info-text-color;
}

.ant-picker-input input {
    font-family: $boldFont;
    font-size: 16px;
}

.Toastify__toast {
    border-radius: 20px;
}