* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face { 
    font-family: Montserrat; 
    src: url('./Montserrat-Medium.ttf'); 
}

@font-face { 
    font-family: MontserratBold; 
    src: url('./Montserrat-Bold.ttf'); 
}

html,
body {
    font-family: Montserrat, MontserratBold, OPPOSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

#root {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    min-height: 100%;
}

button {
    border: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}
