@use "sass:math";
@import '../../../styles/shared.scss';

.infoView {
    position: relative;
    height: $baseHeight * 2;
    margin: 0 44px 0 44px;

    .infoView-top {
        position: relative;
        height: $baseHeight;
        margin: 0 44px 0 44px;
        display: flex;
        justify-content: space-between;

        .infoView-leftTitle {
            height: $baseHeight;
            font-size: $T1;
            color: $C2-color;
            line-height: $baseHeight;
        }

        .infoView-rightTitle {
            height: $baseHeight;
            font-size: $T1;
            color: $C2-color;
            justify-self: flex-end;
            line-height: $baseHeight;
        }
    }

    .infoView-showView {
        position: relative;
        height: $baseHeight;
        margin: 0 0 0 0;
        border-radius: math.div($baseHeight, 2);
        background-color: $C1-color;
        display: flex; 
        justify-content: space-between;

        .showToken {
            margin: math.div($baseHeight - 28px, 2) 0 0 44px;
        }

        .infoView-putDown {
            justify-self: flex-end;
            margin: math.div($baseHeight - 28px, 2) 44px 0 0;
        }

        .infoView-text {
            justify-self: flex-end;
            color: $C6-color;
            line-height: $baseHeight;
            height: $baseHeight;
            margin-right: 44px;
        }

        .infoView-showNum {
            color: $C6-color;
            line-height: $baseHeight;
            height: $baseHeight;
            margin-left: 44px;
        }

        input {
            margin-left: 44px;
            border: 0;
            outline: none;
            caret-color: $C6-color;
            background-color: $C1-color;
            color: $C6-color;
        }
        
    }
    

}