@use "sass:math";
@import "src/styles/shared.scss";

@mixin circleInfo {
  width: 132px;
  height: 132px;
  text-align: center;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 45px 0;

  .farm-circleInfo-value {
    font-size: $T1;
    font-family: $boldFont;
  }

  p + p {
    font-size: $T4;
  }
}

.farm {
  max-width: 1400px;
  margin: 0 auto;
  
  .farmNotice {
    text-align: center;
    font-family: $boldFont;
    font-weight: bold;
    margin-top: 44px;
    color: $wrongAndNotice-color;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;

    li {
      margin: 0 22px;
      margin-top: 44px;
    }
  }
}
