@use "sass:math";
@import 'src/styles/shared.scss';

.fort-button {
    height: 44px;
    border-radius: 22px;
    background-color: $main-button-color;
    color: $main-button-text-color;
    font-family: $boldFont;
    text-align: center;
    font-weight: $T3;
    padding-left: 35px;
    padding-right: 35px;

    &.disable {
        background-color: $button-disable-color;
        &:hover {
            cursor: not-allowed;
        }
    }

    &:hover {
        cursor: pointer;
    }
}