@use "sass:math";
@import 'src/styles/shared.scss';

.stakeCard{
    width: 400px;
    margin-top: 33px;

    .farm-li-tokenInfo {
        margin: 0 44px;
        margin-top: -33px;
        padding-bottom: 20px;
        text-align: center;
        border-bottom: 1px solid $gray-line-color;

        svg {
            width: 68px;
            height:68px;
        }

        p {
            margin-top: 10px;
            font-size: $T2;
            font-family: $boldFont;
        }
    }

    .lineShowInfo {
        &-leftText {
            font-size: $T4;
        }
        &-rightText {
            font-size: $T3;
        }
    }

    .lineShowInfo + .lineShowInfo {
        margin-top: 22px;
    }

    .farm-middleInfo {
        padding: 22px 0;
        margin: 0 44px;
        border-bottom: 1px solid $gray-line-color;

        & > div:first-child {
            .lineShowInfo-rightText {
                color: #00B388;
                &.red {
                    color: $wrongAndNotice-color;
                }
            }
        }

        & :nth-child(2) {
            .lineShowInfo-rightText {
                color: #E57200;
            }
        }
    }

    .farm-bottomInfo {
        padding-top: 22px;
        margin: 0 44px;

        & > div:last-child {
            .lineShowInfo-rightText {
                color: $main-button-color;
            }
        }
    }

    .farmButton {
        width: 100%;
    }

    .stake-button {
        margin: 20px 44px 0 44px;
        height: 84px;
        
        &-inputView {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 44px;
            border-radius: 22px;
            background: $gray-info-background-color;
            border: 1px solid $gray-background-color;
            box-sizing: border-box;
            box-shadow: $shadow-inside;

            &-input {
                display: flex;
                justify-content: space-between;

                input {
                    margin: 0 22px;
                    width: 100%;
                    border: 0;
                    font-size: $T2;
                }

                button {
                    justify-self: flex-end;
                    display: block;
                    margin-right: 10px;
                }
            }

            &:hover {
                border: 1px solid $button-disable-color;
            }

            div + button {
                width: 100px;
                height: 100%;
                background-color: $main-button-color;
                color: $main-button-text-color;
                font-family: $boldFont;
                font-size: $T2;
                border-bottom-right-radius: 22px;
                border-top-right-radius: 22px;
            }
        }

        p {
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding: 0 22px;
            text-align: right;
            font-size: $T4;
            color: $gray-info-text-color;

            &.red {
                color: $wrongAndNotice-color;
            }
        }
    }
}