@import '../../../styles/shared.scss';

$buttonSize: 88px;

.optionChoiceButton {
    width: $buttonSize;
    height: $buttonSize;
    border-radius: 50%;
    border: 2px transparent;
    box-sizing: border-box;
    font-size: $T3;
    font-weight: bold;
}

.optionChoice {

    .optionChoice-title {
        height: 16px;
        color: $C2-color;
        font-size: $T1;
        margin-bottom: 16px;
    }

    .optionChoice-button {
        width: $buttonSize * 2 + 22px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-content: center;

        .optionChoice-button-left-bg {
            background: $button-color1;
            border-radius: 50%;
        }

        .optionChoice-button-right-bg {
            background: $button-color2;
            border-radius: 50%;
        }

        .optionChoice-button-left {
            @extend .optionChoiceButton;
            color: $button-color1;
            background:rgba(0,0,0,0);
        }

        .optionChoice-button-right {
            @extend .optionChoiceButton;
            width: $buttonSize;
            height: $buttonSize;
            border: 0;
            margin: 2px 2px 2px 2px;
            background-color: $C5-color;

            p {
                background: $button-color2;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
            }
        }
    }
}